<!doctype html>
<html>
	<head>
	</head>
	<body>
		<h1>List of open source contributions</h1>
		{{ range .Contributions }}
		{{ if .Project.URL }}
		<b><a href="{{ .Project.URL }}">{{ .Project.Name }}</a></b>
		{{ else }}
		<b>{{ .Project.Name }}</b>
		{{ end }}
				<br/>
				{{ if .Project.Description }}
				{{ .Project.Description }}
				<br/>
				{{ end }}
				{{ if gt .Count 1 }}
					{{ .Count }} contributions
				{{ else }}
					{{ .Count }} contribution
				{{ end }}
				<br/>
				<br/>
		{{ end }}
		<i>Created on {{ putdate }} with <a href="https://github.com/jubalh/gontributions">gontributions</a></i>
	</body>
</html>
