<!doctype html>
<html>
	<head>
	</head>
	<body>
		<h1>List of my open source contributions</h1>
		<p><i>Overall {{ .Summary.TotalContributions }} contributions in {{ .Summary.ProjectCount }} projects</i></p>
		{{ range .Contributions }}
		{{ if .Project.URL }}
		<b><a href="{{ .Project.URL }}">{{ .Project.Name }}</a></b>
		{{ else }}
		<b>{{ .Project.Name }}</b>

		{{ if .Project.Role }}
			<em>{{ .Project.Role }}</em>
		{{ end }}

		{{ end }}
				<br/>
				{{ if .Project.Description }}
				{{ .Project.Description }}
				<br/>
				{{ end }}
				{{ if gt .Count 1 }}
					{{ .Count }} contributions
				{{ else }}
					{{ .Count }} contribution
				{{ end }}
				<br/>
				{{ if .Project.Tags }}
				Tags:
				{{ range .Project.Tags }}
				{{ . }}
				{{ end }}
				<br/>
				{{ end }}
				<br/>
		{{ end }}
		<i>Created on {{ putdate }} with <a href="https://github.com/jubalh/gontributions">gontributions</a></i>
	</body>
</html>
